{% extends 'layouts/Base.html' %}
{% load static %}
{% block content %}
<section class="highlight-phone">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="intro">
                    <h2>Highlight</h2>
                    <p>Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. Aliqua sed justo ligula.</p><a class="btn btn-primary" role="button" href="#">Action Button</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="d-none d-md-block"><img class="device img-responsive" src="{% static 'img/NeweKARIMA%20LOGO%202.png' %}" style="width:500px">
                    <div class="screen"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="jumbotron jumbotron-fluid jumbotron-main">
<div id="particles-js">
<canvas class="particles-js-canvas-el" width="1409" height="319" style="width: 100%; height: 100%;"></canvas>
</div>
    <div class="container center-vertically-holder" style="margin-top:-20px;">
        <div class="row center-vertically">
            <div class="col-md-8 offset-sm-0 offset-md-2 text-center" style="margin-top:100px;margin-bottom:100px;">
                <h1>A template with a bit of a different <strong>look &amp; feel</strong><br><br></h1>
                <hr style="border-top:1px;color:rgba(255,255,255,0.9);width:60%;margin:0px;margin-top:-50px;margin-bottom:10px;margin-left:20%;">
                <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                <p><a class="btn btn-primary" role="button" href="#">Learn more</a></p>
            </div>
        </div>
    </div>
</div>
<div class="d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center highlight-blue" id="About" style="height: 500px;background-color: rgba(255,255,255,0.9);margin-bottom: 0;">
    <div class="container">
        <div class="intro">
            <h2 class="text-center" style="color: #172f76;">ABOUT</h2>
            <hr style="height: 2px;color: #214a80;background-color: #172f76;">
            <p class="text-center" style="color: #172f76;font-family: Muli, sans-serif;">The passing away of a loved one is undeniably painful and it is particularly more stressful when you are faced with the task of gathering their assets or administering their Estate.<br><br>Nisel Probate is pleased to take on the responsibility of processing probate documents on your behalf and we are here to take the burden off you from start to finish.</p>
        </div>
    </div>
</div>
{% endblock %}

