{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Karima Girls High School | {{title}}</title>
    <meta name="description" content="Karima Girls High School Is a national girls secondary school located in Nyandarua county. We excel in various activities including but not limited to Games, academics, science fairs and contests. You can get in touch with us via the given contacts.">
    <link rel="icon" type="image/png" sizes="912x655" href="{% static 'img/NeweKARIMA%20LOGO%202.png' %}">
    <link rel="icon" type="image/png" sizes="912x655" href="{% static 'img/NeweKARIMA%20LOGO%202.png' %}">
    <link rel="icon" type="image/png" sizes="912x655" href="{% static 'img/NeweKARIMA%20LOGO%202.png' %}">
    <link rel="icon" type="image/png" sizes="912x655" href="{% static 'img/NeweKARIMA%20LOGO%202.png' %}">
    <link rel="icon" type="image/png" sizes="912x655" href="{% static 'img/NeweKARIMA%20LOGO%202.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="{% static 'css/overwrite.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">
</head>